.app-main {
    width: min(100% - 3rem, 150ch);
    height: 100dvh;
    
    margin-inline: auto;

    display: grid; 
    place-content: center;
    text-align: center;

    background: var(--clr-surface);

    position: relative;
}

.app-main > * + * {
    margin-top: 1em;
}

.goback-button{
    position: absolute;
    top: 2rem;
    left: 0;
}

.square{
    width: 5rem;    
    height: 5rem;
    
    display: grid;
    place-content: center;
    
    font-size: 2rem;
    
    border: 1px solid var(--clr-text);
}


@media(min-width: 1000px){
    .square{
        width: 7rem;    
        height: 7rem;
    }
}

.turns-container{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.is-selected{
    border: none;
    background: var(--clr-primary);
}